@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        scroll-behavior: smooth;
    }

    #hero {
        background-image: url("./assets/bg.jpg");
        background-size: cover;
        background-position: center;
    }

    .dark #hero {
        background-image: url("./assets/bg_dark.jpg");
    }

    #newsletter {
        background-image: url("./assets/bg_newsletter.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    #not-found-page {
        background-image: url("./assets/bg_not_found_page.jpg");
        background-size: cover;
        background-position: center;
    }

    /* custom scrollbar */
    /* For WebKit-based browsers */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Light theme  */
    ::-webkit-scrollbar-track {
        background: hsl(225, 6%, 89%);
    }

    ::-webkit-scrollbar-thumb {
        cursor: grab;
        background-color: #1a202c;
        border: 1px solid #edf2f7;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(220, 26%, 24%);
    }

    ::-webkit-scrollbar-thumb:active {
        cursor: grabbing;
    }

    /* Dark theme */
    .dark ::-webkit-scrollbar-track {
        background: hsl(225, 6%, 12%);
    }

    .dark ::-webkit-scrollbar-thumb {
        background-color: #edf2f7;
        border: 2px solid #1a202c;
        border-radius: 10px;
    }

    .dark ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(210, 38%, 85%);
    }

    /* .slider {
        position: relative;
        overflow: hidden;
        width: 64rem;
        height: 48rem;
    }

    .slider img {
        transition: transform 0.5s ease-in-out;
    }

    .slider .prev-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .slider .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    } */

}